prometheus:
  image: prom/prometheus:latest
  container_name: prometheus
  user: {{ userid }}:{{ groupid }}
  volumes:
    - {{ prometheus_config_dir }}:/etc/prometheus
    - {{ prometheus_db_dir }}:/prometheus
  command:
    {{ docker_file_commands | indent(4) }}
  restart: unless-stopped
  ports:
    - {{ prometheus_port }}
